<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start | Winnovations</title>
    <!-- Halfmoon CSS -->
    <link
      href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/css/halfmoon.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style/get-started.css" />
  </head>

  <body>
    <div
      class="loader-animation-holder"
      id="loader"
      style="width: 100%; height: 100%"
    >
      <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span class="text-dark">Loading</span>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="content-wrapper d-flex flex-row overflow-y-hidden">
        <div class="col-md-7 image-container-box"></div>
        <div
          class="card col-12 col-md-5 mx-auto border-0 mt-0 pt-0 pr-0 pl-0 h-full"
        >
          <canvas class="background-particle"></canvas>

          <div class="row-fluid d-flex flex-row m-0 p-0 tab-changer">
            <div
              class="btn col-6 border-0"
              id="loginButton"
              onclick="changeToLogin(this)"
            >
              Sign In
            </div>
            <div
              class="btn col-6 border-0"
              id="registerButton"
              onclick="changeToRegister(this)"
            >
              Register
            </div>
          </div>
          <div class="row-fluid w-full mt-5 pr-10 close-register">
            <p
              class="close-button p-0 m-0 float-right d-flex flex-column justify-content-center"
              onclick="window.location.replace('/')"
            >
              &times;
            </p>
          </div>
          <div
            class="flex-column justify-content-center h-full"
            id="login-container"
          >
            <h1 class="text-center font-weight-semi-bold text-white">
              Sign in
            </h1>
            <form
              action="/login"
              method="POST"
              class="w-400 mw-full mx-auto text-white"
            >
              <div class="form-group px-10">
                <label for="email" class="required">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  name="email"
                  required="required"
                  autocomplete="on"
                />
              </div>
              <div class="form-group px-10">
                <label for="passwordlogin" class="required">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="passwordlogin"
                  placeholder="Password"
                  name="password"
                  required="required"
                  autocomplete="on"
                />
              </div>
              <p class="text-danger text-center font-weight-semi-bold">
                <% if (messages.error) { %> <%= messages.error %> <% } %>
              </p>
              <div class="text-center">
                <input
                  class="btn btn-primary"
                  type="submit"
                  value="Log in"
                  style="width: 10rem"
                />
              </div>
            </form>
            <p class="text-center" style="cursor: pointer; z-index: 10">
              <a
                href="/passwordreset/forgot"
                target="_blank"
                class="text-white"
                style="text-decoration: none"
                >Forgot Password?</a
              >
            </p>
            <p
              class="text-center font-weight-bold w-full w-md-three-quarter mx-auto text-light"
            >
              - OR -
            </p>
            <div
              class="row d-flex flex-row justify-content-center w-full w-md-three-quarter mx-auto"
            >
              <div
                class="col-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column justify-content-center py-5"
                onclick="location.replace('/auth/linkedin')"
              >
                <i class="fab fa-linkedin-in" style="font-size: 2.5rem"></i>
              </div>
              <div
                class="col-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column justify-content-center py-5"
                onclick="location.replace('/auth/google')"
              >
                <i class="fab fa-google" style="font-size: 2.5rem"></i>
              </div>
              <div
                class="col-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column flex-mdjustify-content-center py-5"
                onclick="location.replace('/auth/github')"
              >
                <i class="fab fa-github" style="font-size: 2.5rem"></i>
              </div>
            </div>
          </div>
          <div
            class="flex-column justify-content-center h-full"
            id="signup-container"
          >
            <h1 class="text-center font-weight-semi-bold text-white">
              Register Now
            </h1>
            <form
              action="/register"
              method="POST"
              class="w-400 mw-full mx-auto text-white"
            >
              <div class="form-group px-10">
                <label for="name" class="required">Team name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Team name"
                  name="name"
                  required="required"
                  autocomplete="off"
                />
              </div>
              <div class="form-group px-10">
                <label for="emaillogin" class="required">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="emaillogin"
                  placeholder="Email"
                  name="email"
                  required="required"
                  autocomplete="off"
                />
              </div>
              <div class="form-group px-10">
                <label for="participation">Participation Mode</label>
                <select
                  class="form-control"
                  id="participation"
                  name="participation"
                  required
                >
                  <option value="" selected="selected" disabled="disabled">
                    -Select-
                  </option>
                  <option value="team">Team</option>
                  <option value="individual">Individual</option>
                  <option value="business">Startup/Company</option>
                </select>
              </div>
              <div class="form-group px-10">
                <label for="password" class="required">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  name="password"
                  required="required"
                  autocomplete="off"
                />
              </div>
              <div class="custom-checkbox ml-20">
                <input
                  type="checkbox"
                  id="tncregis"
                  value=""
                  required
                  class="mx-auto"
                />
                <label for="tncregis"
                  >I agree to the
                  <a href="/termsandcondition" target="_blank"
                    >terms and conditions</a
                  ></label
                >
              </div>
              <div class="text-center">
                <input
                  class="btn btn-primary mt-10"
                  type="submit"
                  value="Register"
                  style="width: 10rem"
                />
              </div>
            </form>
            <p
              class="text-center font-weight-bold w-full w-md-three-quarter mx-auto text-light"
            >
              - OR -
            </p>
            <div
              class="row d-flex flex-row justify-content-center w-full w-md-three-quarter mx-auto"
            >
              <div
                class="col-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column justify-content-center py-5"
                onclick="location.replace('/auth/linkedin')"
              >
                <i class="fab fa-linkedin-in" style="font-size: 2.5rem"></i>
              </div>
              <div
                class="col-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column justify-content-center py-5"
                onclick="location.replace('/auth/google')"
              >
                <i class="fab fa-google" style="font-size: 2.5rem"></i>
              </div>
              <div
                class="col-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column flex-mdjustify-content-center py-5"
                onclick="location.replace('/auth/github')"
              >
                <i class="fab fa-github" style="font-size: 2.5rem"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/js/halfmoon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particlesjs@2.2.3/dist/particles.min.js"></script>
    <script src="./scripts/get-started.js"></script>
  </body>
</html>
