<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <!-- Halfmoon CSS -->
  <link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/css/halfmoon.min.css" rel="stylesheet" />
  <!-- Halfmoon JS -->
  <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/js/halfmoon.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <style>
    .page-wrapper {
      background-image: url("./resources/login.jpg");
      background-size: cover;
      background-position: center;
    }

    .card {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
    }
    .social-sign-in {
      border-radius: 2px;
      cursor: pointer;
    }
    .social-sign-in:first-child {
      background-color: #0072b1;
    }
    .social-sign-in:nth-child(2) {
      background-color: #db4437;
    }
    .social-sign-in:last-child {
      background-color: #333333;
    }
    .social-sign-in:hover {
      box-shadow: 1px 1px 1px #3e3e3e !important;
      background-color: #ffffff;
      color: #000000;
    }
  </style>
</head>

<body>
  <div class="page-wrapper">
    <div class="content-wrapper d-flex flex-column justify-content-center pr-20">
      <div class="register-container card w-400 ml-auto mr-auto ml-md-auto mr-md-20 text-white">
        <h1 class="text-center text-white">Register</h1>
        <form action="/register" method="POST" class="w-400 mw-full mx-auto">
          <div class="form-group">
            <label for="name" class="required">Team name</label>
            <input type="text" class="form-control" id="name" placeholder="Team name" name="name" required="required">
          </div>
          <div class="form-group">
            <label for="email" class="required">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required="required">
          </div>
          <div class="form-group">
            <label for="participation">Participation Mode</label>
            <select class="form-control" id="participation" name="participation">
              <option value="" selected="selected" disabled="disabled">-Select-</option>
              <option value="team">Team</option>
              <option value="individual">Individual</option>
              <option value="business">Startup/Company</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password" class="required">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password"
              required="required">
          </div>
          <div class="text-center">
            <input class="btn btn-secondary" type="submit" value="Submit" style="width: 10rem;">
          </div>
        </form>
        <p class="text-center pt-0 mt-0">Already registered? <a href="/login">Login Here</a></p>
        <p class="text-center font-weight-bold">- OR -</p>
        <div class="row d-flex flex-column flex-md-row justify-content-around">
          <div class="col-12 col-md-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column justify-content-center py-5" onclick="location.replace('/auth/linkedin')">
            <i class="fab fa-linkedin-in" style="font-size: 2.5rem;"></i>
          </div>
  
          <div class="col-12 col-md-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column justify-content-center py-5" onclick="location.replace('/auth/google')">
            <i class="fab fa-google" style="font-size: 2.5rem;"></i>
          </div>
  
          <div class="col-12 col-md-3 social-sign-in mb-10 my-md-0 text-center d-flex flex-column flex-mdjustify-content-center py-5" onclick="location.replace('/auth/github')">
            <i class="fab fa-github" style="font-size: 2.5rem;"></i>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</body>

</html>