<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset | Winnovations</title>
    <link
      href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/css/halfmoon.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-image: url('../resources/login.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="content-wrapper d-flex flex-column justify-content-center">
        <div
          class="p-20 mx-auto w-full w-md-three-quarter w-lg-quarter"
          id="full-page"
          style="background-color: rgba(0, 0, 0, 0.7)"
        >
          <h2 class="text-center text-white">Change Paswword</h2>
          <p class="text-white text-center">
            Enter your new password
            <% if(msg) { %>
                  <%= msg %>
            <% } %>
          </p>
          <div id="inputs-checker">
            <form action="/passwordreset/reset/newcredentials" method="POST">
            <input
              type="password"
              class="form-control"
              id="check-password"
              name="newpassword"
              placeholder="Password"
              required
              autocomplete="off"
            />
            <input
              type="password"
              class="mt-10 form-control"
              id="confirm-password"
              name="confirmpassword"
              placeholder="Confirm Password"
              required
              autocomplete="off"
            />
            <input
              type="hidden"
              class="form-control"
              id="check-email"
              name="user"
              value="<%= user %>"                  
              required
            />
            <input
              type="hidden"
              class="form-control"
              id="check-email"
              name="key"
              value="<%= key %>"                  
              required
            />
            <input
              type="hidden"
              class="form-control"
              id="check-email"
              name="secret"
              value="<%= secret %>"                  
              required
            />
            <div class="text-center pt-15">
              <div class="text-center">
                <input
                  class="btn btn-primary w-full"
                  type="submit"
                  value="Submit"
                />
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/js/halfmoon.min.js"></script>
  </body>
</html>
